# IDE and editor folders
.vscode/
.idea/
/build/

# Python cache files
/__pycache__/
/pygrams/__pycache__
/pygrams/data_manipulation/__pycache__
/pygrams/utils/__pycache__

# Distribution and packaging files
/dist/
/pygrams.egg-info/
*.egg-info/

# Test directories and test files
/test/
upinst
test.py
pygrams_test.py

# Python bytecode files
*.pyc
*.pyo
*.pyd

# Virtual environment directories
env/
venv/
.venv/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Mac system files
.DS_Store

# Windows system files
Thumbs.db
